<!--The content below is only a placeholder and can be replaced.-->
<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <span title="Home page"><img src="assets/logo.png" (click)="openHomePage()" style="cursor: pointer; padding-top: 9px"></span>

      <button mat-button (click)="codes()">Codes</button>
      <button mat-button (click)="users()">Users</button>

      <span class="uvs-fill-remaining-space"></span>
      <span class="uvs-spacer"></span>

        <span style="font-size: 14px">Logged in as {{currentUser?.name}}</span>
        <button mat-button (click)="editProfile()" title="Profile" class="mat-icon-button">
          <mat-icon aria-label="Edit" svgIcon="face"></mat-icon>
        </button>
        <button mat-button (click)="quickGuide()" title="Help" class="mat-icon-button">
          <mat-icon aria-label="Logout">help_outline</mat-icon>
        </button>
         <button mat-button (click)="openConfirmationDialog()" title="Log out" class="mat-icon-button">
          <mat-icon aria-label="Logout">power_settings_new</mat-icon>
        </button>

    </mat-toolbar-row>
  </mat-toolbar>
</header>
