/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

.cover {
    background-image: -webkit-linear-gradient(rgba(233,144,65, 0.7), rgba(63,81,181, 0.3)), url(/resources/prizes.jpg);
    background-image: linear-gradient(rgba(233,144,65, 0.7), rgba(63,81,181, 0.3)), url(/resources/prizes.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh;
    background-attachment: fixed;
    display: flex;
    overflow-y: auto;
}

.central-text-box {
    position: relative;
    width: 75%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: initial;

}

.child-text-box {
    flex:1;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 700;
    font-size: 36px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    /*color: #fff;*/
    font-size: 48px;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: left;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* ----- BUTTONS ----- */
.btn,
.btn:link,
.btn:visited,
input[type=submit] {
    width: 100px;
    height: 50px;
    display: inline-block;
    align-content: center;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full,
.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: rgb(63, 81, 181);
    border: 1px solid rgb(63, 81, 181);
    color: #fff;
    margin-right: 15px;
}

.btn-ghost,
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}



