<div class="cover inner-padding">
    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="central-text-box">
            <div *ngIf="!won">
                <h1 class="child-text-box">Enter the Prize Code:</h1>
                <div class="child-text-box">
                    <div class="form">
                        <mat-form-field>
                            <input matInput #input class="form-control" [(ngModel)]="code.prizeCode" name="prizeCode"
                                   required nullValidator>
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="child-text-box">
                    <button class="btn-full mat-button mat-button-primary" (click)="getPrize()">SUBMIT</button>
                </div>
            </div>
            <div *ngIf="won">
                <h1 class="child-text-box">Prize you got is: {{code.prizeType}}</h1>
                <div class="child-text-box">
                    <button class="btn-full mat-button mat-button-primary" (click)="viewPrizes()">View Prizes</button>
                    <button class="btn-ghost mat-button mat-button-primary" (click)="addPrize()">Add Prize</button>
                </div>
            </div>

        </div>
    </form>
</div>
